<!DOCTYPE html>
<html>
  <head>
    <title>Chat</title>
  </head>
  <body>
    <h1>Chat</h1>
    <div id="messages">
      <% for (let i = 0; i < messages.length; i++) { %>
        <p><%= messages[i].sender %>: <%= messages[i].messagetext %></p>
      <% } %>
    </div>
    <form id="chat-form">
      <input id="recipient" type="text" placeholder="Recipient"></input><br>
      <textarea id="message-input"></textarea>
      <button type="submit">Send</button>
    </form>

    <form id="getMessages">
        <button type="submit">Get messages</button>
    </form>

    <script>
      let idList = [];
      let allMessages = [];
    </script>

    <script>
      //add all received messages to array
      //add sent messages to same array
      //order by time

        document.querySelector('#getMessages').addEventListener('submit', async (event) => {
        event.preventDefault();

        const sender = document.querySelector('#recipient').value;
        try {
          const response = await fetch('/get-messages', {
            method: 'POST',
            body: JSON.stringify({sender}),
            headers: {
              'Content-Type': 'application/json'
            }
          });
          const result = await response.json();
          console.log(result)
          const receivedMessages = result.receivedMessages;
          const sentMessages = result.sentMessages;

          receivedMessages.forEach(element => {
            allMessages.push(element)
          });
          sentMessages.forEach(element => {
            allMessages.push(element)
          });

          allMessages.sort((a, b) => a.messagetime - b.messagetime);

          console.log(allMessages)
          
          let id = receivedMessages[0].id;
          console.log('okok')

          //if msg id is not unique, don't add message
            for (let i = 0; i < allMessages.length; i++) {
            if(idList.includes(allMessages[i].id)){
              console.log('duplicate')

              continue;
            }
            let message = allMessages[i];
            let messageElement = document.createElement('p');
            messageElement.innerText = allMessages[i].sender + " : " + message.messagetext;
            document.body.appendChild(messageElement);
            idList.push(allMessages[i].id)
            
            }
        } catch (err) {
          console.log(err);
        }

        })
    </script>


    <script>
      document.querySelector('#chat-form').addEventListener('submit', async (event) => {
        event.preventDefault();

        const messageInput = document.querySelector('#message-input');
        const recipient = document.querySelector('#recipient').value;
        let messagetext = messageInput.value;
        
        let message = { 
            messagetext: messagetext, 
            recipient: recipient };

        try {
          const response = await fetch('/send-message', {
            method: 'POST',
            body: JSON.stringify({ message }),
            headers: {
              'Content-Type': 'application/json'
            }
          });
          const result = await response.json();
          console.log(result);
        } catch (error) {
          console.error(error);
        }

      });
    </script>
  </body>
</html>