<html>
  <head>
    <title>User Profile</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <header>
      <a style="margin-right: auto;" href="index.html">
          <img class="logo" src="/logo.png" alt="logo">
      </a>
      <nav>
          <ul class="nav__links">
              <li><a href="faq.html">FAQ</a></li>
              <li><a href="tos.html">Käyttöehdot</a></li>
              <li><a href="aboutus.html">Tietoa meistä</a></li>
          </ul>
      </nav>
      <a class="cta" href="http://localhost:5500"><button>Kirjaudu ulos</button></a>
  </header>

    <section class="intro">
    <h1>Profiili</h1>
    <p>Käyttäjänimi: <%= user.name %></p>
    <p>Ikä: <%= user.age %></p>
    <p>Puhelinnumero: <%= user.phone %></p>
    <!-- <img src="<%= user.profilePicture %>" alt="Profile Picture"> -->
    </section>
  </body>
</html>